/* TELEPHONE*/

@media screen and (max-width: 700px) {
  .top-side h1 {
    font-size: 500px;
  }
  .answer {
    font-size: calc(26px + 6 * ((100vw - 320px) / 680));
  }
  #container {
    padding: 500rem;
    margin: 500px;
  }
  .test button {
    width: calc(26px + 6 * ((100vw - 320px) / 680));
    height: calc(26px + 6 * ((100vw - 320px) / 680));
    font-size: 25px;
  }
}
